albumentations==2.0.8
lightning==2.6.5
matplotlib==3.11.0
monai==1.6.0
numpy==2.5.1
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
openslide_python==1.4.6
optuna==4.9.0
pandas==3.0.3
Pillow==12.3.0
python-dotenv==1.2.2
python_box==7.4.1
PyYAML==6.0.3
scikit_learn==1.9.0
segmentation_models_pytorch==0.5.0
scikit-image==0.0
tiatoolbox==2.1.0
torch==2.12.0
torchmetrics==1.9.0
torchstain==1.4.1
torchvision==0.27.0
tqdm==4.68.2
tqdm==4.67.3
wandb==0.28.0
