--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.4.0+cu118
torchvision==0.19.0+cu118
torchaudio==2.4.0+cu118

Columnar
Flask
Glymur
ImageIO
Send2Trash
bleach
dotenv
ipython_pygments_lexers
jupyter_client
jupyter_core
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
mdurl
nest_asyncio
notebook_shim
optuna
optuna-integration
wandb
pip-chill
prometheus_client
pydantic_core
python-box
segmentation_models_pytorch
SimpleITK
timeago
torchstain
universal_pathlib
widgetsnbextension
monai
